@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=VT323');


#root {
  min-width: 1280px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  --font-mono: "Share Tech Mono";
  --font-crazy: "Monofett";
  scrollbar-width: thin;
}

.home {
  & .loading {
    font-family: var(--font-mono);
  }
}
/* 
*::-webkit-scrollbar {
  width: 10px;
} */


.initiate-bin-button {
  border-radius: 10px;
  padding: 20px;
  border-color: var(--color-industrialgray);
  min-width: 10px;
  min-height: 80px;
  cursor: pointer;
  background-color: white;
  font-size: 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s all;

  &:hover {
    background-color: rgba(240, 234, 207, 0.5);
  }
  &:active {
    transform: scale(0.95);
  }
}

.bin {

  & .url-provider {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 50px;
    font-size: 2rem;
    /* margin: 0 auto; */
    text-align: center;
    
    & .url {
      padding-left: 10px;
      text-decoration: underline black;
      font-family: "VT323";
      /* font-size: 1.5rem; */
    }

    & .copy {
      position: relative;
      border: none;
      background-color: white;
      padding: 20px;
      font-size: 1.1rem;
  
      &:hover {
        color: red;
        cursor: pointer;
      }

      & .copy-notification {
        position: absolute;
        margin-left: 10px;
      }
    
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    & .left {
      width: 30%;
      padding: 20px;
      border: 1px solid black;
      height: 70vh;

      & .logs {
        min-width: 200px;
        display: flex;
        flex-direction: column;
        /* padding: 10px 15px; */

        & h2 {
          font-family: 'Roboto';
          font-size: 1.5rem;
        }

        & .search {
          margin: 20px 0;
          position: relative;
          & .search-icon {
            position: absolute;
            bottom: 5px;
          }
          & .search-input {
            padding: 5px;
            text-indent: 20px;
            appearance: none;
            border: none;
            border-bottom: 1px solid black;
            width: 70%;

            &:focus {
              outline: none;
            }
          }
        }

        & .log-rows {
          max-height: 100%;
          overflow-y: scroll;
        }
        
        & .log-row {
          font-family: var(--font-mono);
          font-size: 1.1rem;
          margin: 10px 0;
          padding: 5px;
          /* padding: 20px 10px; */
          border-bottom: 1px solid gray;
          display: flex;
          flex-direction: row;
          position: relative;

          &.active {
            background-color: blue;
          }


          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
            cursor: pointer;
          }
          
          & .log-row-timestamp {
            margin-right: 20px;
            color: gray;
            padding: 10px 0;
          }
          
          & .log-row-method {
            margin-right: 20px;
            color: #5499C7;
            font-weight: 800;
            padding: 10px 0;
          }
          
          & .log-row-path {
            position: absolute;
            padding: 10px 0;
            right: 0;

            text-align: left;
            min-width: 170px;
            max-width: 170px;
            overflow-x: scroll;
          }
        }
      }
    }
    & .right {
      width: 60%;
      padding: 20px;
      border: 1px solid black;

      & .log-info {
        text-align: left;
        & h2 {
          
          font-size: 1.3rem;
        }
      }
      
    }
  }
  
  
}
